body {
    background-color: black;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: #ADD8E6;
    height: 400px;
}

h1,
h2 {
    color: #ADD8E6;
    text-align: center;
}

.row {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.col3 {
    width: 30%;

}

.user-icon {
    font-size: 150px;
}